## Importing Pandas Library

In [191]:
import pandas as pd

Read the Canada Postal code file

In [192]:
data=pd.read_csv('Canada_postalcode.csv')

Report first five records of the Postal code file

In [193]:
data.head()

  Postal code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M1A      Not assigned               Not assigned
2         M1B        North York                  Parkwoods
3         M1B        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.

In [194]:
mask = data['Borough'].isin(['Not assigned'])

In [195]:
df=data[~mask]

In [196]:
df.head()

  Postal code           Borough                                Neighbourhood
2         M1B        North York                                    Parkwoods
3         M1B        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.

In [197]:
data.loc[data['Neighbourhood'] == "Not assigned", 'Neighbourhood'] = data['Borough']

In [198]:
data.head()

  Postal code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M1A      Not assigned               Not assigned
2         M1B        North York                  Parkwoods
3         M1B        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11 in the above table.

In [199]:
df1 = data.groupby('Postal code').agg({'Borough':'first', 
                             'Neighbourhood': ', '.join})

In [200]:
df1.head()

                  Borough                                Neighbourhood
Postal code
M1A          Not assigned                   Not assigned, Not assigned
M1B            North York  Parkwoods, Victoria Village, Malvern, Rouge
M1C           Scarborough       Rouge Hill, Port Union, Highland Creek
M1E           Scarborough            Guildwood, Morningside, West Hill
M1G           Scarborough                                       Woburn